<div class="footer">
    <div class="pull-right">
        By：<a href="#" target="_blank">mingyou blog</a>
    </div>
    <div>
        <strong>Copyright</strong> H+ © 2014
    </div>
</div>
</div>
</div>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/content.min.js"></script>
<script src="/javascripts/jquery.flot.js"></script>
<script src="/javascripts/jquery.flot.tooltip.min.js"></script>
<script src="/javascripts/jquery.flot.resize.js"></script>
<script src="/javascripts/Chart.min.js"></script>
<script src="/javascripts/jquery.peity.min.js"></script>
<script src="/javascripts/peity-demo.min.js"></script>
</body>
</html>