<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/bootstrap.css' />-->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min93e3.css" rel="stylesheet">
    <link href="/stylesheets/style.min862f.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="#" class="navbar-brand">Blog</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 菜单 <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 菜单 <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">M菜单列表</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 菜单 <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 菜单 <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                                <li><a href="#">菜单列表</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i> 登陆
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

