<div class="bloger-login col-xs-5 animated rubberBand" >
    <div class="panel panel-info">
        <div class="panel-heading text-center">
           用户登陆
        </div>
        <form method="post">
        <div class="panel-body">
            <div class="col-xs-8">
                <input type="text" class="form-control" name="loginacc" placeholder="账号">
            </div>
            <div class="col-xs-8">
                <input type="password" class="form-control" name="loginpwd" placeholder="密码">
            </div>
            <div class="col-xs-8 text-center">
                <input class="btn btn-info" data-animation="rubberBand" type="submit" value="登陆">
            </div>
        </div>
        </form>
        <div class="panel-footer">
        </div>
    </div>
</div>