<div class="bloger-login col-xs-8">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
           用户登陆
        </div>
        <div class="panel-body">
            <div class="col-xs-8">
                <input type="text" class="form-control" placeholder="账号">
            </div>
            <div class="col-xs-8">
                <input type="password" class="form-control" placeholder="密码">
            </div>
        </div>
        <div class="panel-footer">
            面板Footer
        </div>
    </div>
</div>