<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<p>练习了解nodejs路由尝试<%=title%></p>
	<ul>
	<%for(var i=0;i<title.length;i++){%>
	<li><%=title[i]%></li>
	<%}%>
	</ul>
  </body>
</html>