<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<link rel="stylesheet" href="/stylesheets/bootstrap.css">-->
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
</head>
<body>
<div class="container singup">
    <div class="row">
        <div class="col-xs-8"></div><input type="text" class="form-control" name="useraccount"></div>
        <div class="col-xs-4"></div><strong>密码：</strong></div>
       <div class="col-xs-8"></div><input type="password" class="form-control" name="userpassword"></div>
      <div class="col-xs-4"></div><strong>确认密码：</strong></div>
    <div class="container row text-center">
        <div class="col-xs-12">
            <input class="btn btn-info" type="submit" value="注册">
        </div>
    </div>
</div>
</body>
</html>